#password {
    border: medium solid black;
    border-radius: 12px;
    background-color: aqua;
    margin-top: 100px;
    margin-left: 33.3%;
    margin-right: 33.3%;
    padding: 20px;
    padding-bottom: 100px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

h1 {
    border-bottom: double black;
}

br {
    border: solid black;
}

#innerBox {
    border: dotted;
    border-radius: 12px;
    height: 100px;
    background-color: white;
}

#result {
    height: 10px;
}

#generate {
    background-color: blue;
    color: black;
    border-radius: 12px;
    float: left;
    margin-bottom: 20px;
    margin-top: 15px;
}

#copy {
    background-color: blue;
    color: black;
    border-radius: 12px;
    float: right;
    margin-bottom: 20px;
    margin-top: 15px;
}

body {
    background-image: url(../assets/images/passGenpic.jpg);
   background-size: 100%;
   
} 
input {
    font-weight: bold;
}
@media only screen and (max-width: 768px) {
    #password {
        margin: unset;
        padding-bottom: 10px;
        margin-top: 30%;
    }
    #options {
        display: inline-block;
    }
}